.card{
  display: table-caption;
  border: 1px black solid;
  border-radius: 10px;
  justify-content: center;
}
.test{
  text-align: -webkit-center;
}
.card > * {
  width: 100%;
}
h2{
  text-align: center;
}

