<h2>My dinossaure</h2>
<div class="test">
  <div class="card">

    <form [formGroup]="dino" (ngSubmit)="OnSubmit()" class="cardTest" >

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" type="text" formControlName="name">
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <input matInput type="number" placeholder="age"  formControlName="age">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Food" type="text" formControlName="food">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Family" type="text" formControlName="name">
      </mat-form-field>

      <div class="check">
        <button type="submit" mat-stroked-button>Ajouter</button>
      </div>
    </form>

  </div>
</div>
