<section>

  <h1>Dinosaurelande</h1>

  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img/test8.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/test5.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/test6.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="container">
    <div class="block1">
      <h2>Bienvenue sur notre site</h2>

      <img src="../../../assets/img/icon1.png" alt=""/>
      <p>Les dinosaures sont un groupe d'animaux que l'on classifiait autrefois parmi les reptiles mais qui,
        dans une approche moderne, sont considérés comme formant un clade lui-même membre de celui des sauropsidés
        qui contient les reptiles et les oiseaux. Ils se distinguent des reptiles classiques en grande partie parce qu'ils
        sont érigés sur des membres verticaux, comme les mammifères, contrairement aux lézards et aux crocodiles par exemple.
        Il y a de bonnes raisons de penser que nombre d'entre eux étaient également à sang chaud, ou pour le moins qu'ils
        n'étaient pas à sang-froid comme les reptiles, certains ayant des comportements sociaux complexes, prenant même soin
        de leurs progénitures.
      </p>
    </div>
    <div class="block2">
      <h2>Les dinosaures, un clade très diversifié</h2>

        <p>Les dinosaures constituaient un clade très diversifié d'animaux bipèdes et quadrupèdes,
          carnivores et herbivores, dont le succès évolutif était considérable pendant plus de 170 millions d'années.
          Apparus au Trias il y a environ 240 millions d'années, ils ont presque tous disparu il y a environ 66 millions
          d'années, à la fin du Crétacé, ne laissant que les oiseaux comme représentant de ce clade. On trouve des restes
          fossilisés de dinosaures un peu partout sur la planète et notamment dans les Badlands en Amérique du Nord,
          mais aussi au Maroc, en Argentine et en Mongolie.
        </p>
    </div>
    <div class="bloc3">
      <h2>Deux grands types de dinosaure</h2>

      <p>On distingue deux grands types de dinosaures selon la morphologie de leurs bassins,
        à savoir les saurischiens et les ornithischiens. Les saurischiens comprenaient les sauropodes (herbivores,
        les plus grands des dinosaures, comme les titanosaures) et les théropodes (carnivores, comme le Tyrannosaurus rex).
        Les ornithischiens étaient très variés et tous herbivores (exemples : Stegosaurus, Ankylosaurus, Tricératops).
        Un groupe de théropodes (les dromaesauridés) est classiquement présenté comme étant le groupe d'où sont issus
        les oiseaux.
      </p>

      <br/>

      <p>Le grand public pense généralement que plusieurs animaux de grandes tailles et ressemblants à des reptiles pendant le Mésozoïque,
        comme les mosasaures, les plésiosaures et les ptérosaures étaient des dinosaures, mais il n'en est rien.
        Il s'agissait de reptiles marins et volant qui vont toutefois disparaître aussi avec les dinosaures non aviens au
        moment de la fameuse crise KT, à la limite Crétacé-Tertiaire, il y a environ 66 millions. Cette grande extinction est
        très certainement la combinaison, mais dans des proportions mal comprises et suivant une causalité dans l'écosystème
        également énigmatique, des éruptions du Deccan en Inde et de l'impact du corps céleste qui a créé l'astroblème de
        Chicxulub au Yucatan.
      </p>
    </div>
  </div>
</section>
