h2{
  text-align: center;
  font-size: 50px;
}
p{
  text-align: justify;
  font-size: 30px;
}

#carouselExampleFade{
  margin: 10% auto;
}
img{
  max-width: 100% !important;
  height: auto !important;
}
h1{
  text-align: center;
  margin: auto;
  color: rgb(69, 69, 69);
  font-size: 17.8em;
  text-shadow: black 5px 10px;
}
img{
  float: none;
}
.block1{
  width: 85%;
  margin:auto;
}
.container{
  width: 100%;
  background-color: #FAFAFA;

}
