<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
          <ul>
              <li><a routerLink="/home" routerLinkActive="router-link-active" class="styleLien" >acceuil</a></li>
              <li><a routerLink="/carnet" routerLinkActive="router-link-active" class="styleLien" >liste de dinossaure</a></li>
              <li><a routerLink="/dinossaure" routerLinkActive="router-link-active" class="styleLien">rajouter des dinossaures</a></li>
              <li><a routerLink="/contact" routerLinkActive="router-link-active" class="styleLien">contact</a></li>
            </ul>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
